experiment/node-red/.flows.json.backup
[
    {
        "id": "02e14d01b0995691",
        "type": "tab",
        "label": "LHR-AMS truck sensor log",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "62b1ce6f779d7d7a",
        "type": "tab",
        "label": "AMS-LHR truck sensor log",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ba82686e8f4223e",
        "type": "tab",
        "label": "AMS-BRU truck sensor log",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a36b0577fe8b3ab5",
        "type": "tab",
        "label": "BRU-AMS truck sensor log",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "06f63ac08e56c5d1",
        "type": "tab",
        "label": "AMS-CDG truck sensor log",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "552cd1fc5058e3d5",
        "type": "tab",
        "label": "CDG-AMS truck sensor log",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "099faee236c0d49e",
        "type": "tab",
        "label": "AMS-FRA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acb8a03ca539f5b7",
        "type": "tab",
        "label": "FRA-AMS truck sensor log",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92763204f8f39f07",
        "type": "tab",
        "label": "AggregateEvents",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2f1e88c6eb8c50a",
        "type": "tab",
        "label": "InitModel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48247d16f5321335",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "101",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "101",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "ed99ed15e33c0b05",
        "type": "link call",
        "z": "02e14d01b0995691",
        "name": "",
        "links": [
            "dd82537cd3114775"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 860,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a409b7026e4c9451",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "112",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "112",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "3e84b1a2554605cb",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "102",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "102",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 287.63340759277344,
        "y": 121.4285659790039,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "0f8a2fe9f65519fc",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "103",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "103",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 287.63340759277344,
        "y": 161.4285659790039,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "b84a24180b6cb85b",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "104",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "104",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 287.63340759277344,
        "y": 201.4285659790039,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "96b561393148a3a0",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "105",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "105",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 287.63340759277344,
        "y": 241.4285659790039,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "c464653d0bf9de20",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "111",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "111",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "8dab7c08c6dd6c92",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "106",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "106",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 287.63340759277344,
        "y": 281.4285659790039,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "85d840f34354bfd3",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "107",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "107",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "205228e998ba181e",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "110",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "110",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 600,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "9612f4f8a18447a4",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "108",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "108",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "4ada8bf6314ade3d",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "113",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "113",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "81ea0983516ffa37",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "109",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "109",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "9fda788f49e80e4c",
        "type": "comment",
        "z": "02e14d01b0995691",
        "name": "executions not conformant to process and goal model",
        "info": "",
        "x": 220,
        "y": 640,
        "wires": []
    },
    {
        "id": "08a59f42bb387972",
        "type": "comment",
        "z": "02e14d01b0995691",
        "name": "executions conformant to process and goal model",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "7688556e89469f77",
        "type": "change",
        "z": "02e14d01b0995691",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logFile",
                "pt": "msg",
                "to": "/data/lhr-ams/LHR_AMS.csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "egsmModel",
                "pt": "msg",
                "to": "/data/lhr-ams/egsm.xml",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "infoModel",
                "pt": "msg",
                "to": "/data/lhr-ams/infoModel.xsd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "goalModel",
                "pt": "msg",
                "to": "/data/lhr-ams/goalModel.xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "ed99ed15e33c0b05"
            ]
        ]
    },
    {
        "id": "c8480941ce6ce9bb",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "114",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "114",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 680,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "5b3bd0de8de52483",
        "type": "inject",
        "z": "02e14d01b0995691",
        "name": "115",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "115",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 720,
        "wires": [
            [
                "7688556e89469f77"
            ]
        ]
    },
    {
        "id": "fdca447eef7fbe0a",
        "type": "comment",
        "z": "02e14d01b0995691",
        "name": "executions conformant to process model but not to goal model",
        "info": "",
        "x": 250,
        "y": 560,
        "wires": []
    },
    {
        "id": "3c69892f887ea12d",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "5785ad92b268b023",
        "type": "link call",
        "z": "62b1ce6f779d7d7a",
        "name": "",
        "links": [
            "dd82537cd3114775"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "468afdc55f53c0a9",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "12",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "12",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 560,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "d9fe25563ac86f0c",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "fdd4d7a6b602d78b",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "3",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "a1ba2d561b058c8a",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "4",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "05d61387711c6c5c",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "6",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "4773a7de592db7fe",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "11",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "11",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "065a8cc76528bab9",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "7",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "a7c652b591aad1c4",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "8",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "8",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "0af10ae90d6e7632",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "5",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "33a8948c0bc59b98",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "9",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "9",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "3275a5402a0389ed",
        "type": "inject",
        "z": "62b1ce6f779d7d7a",
        "name": "10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "10",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "147e3012f462f17b"
            ]
        ]
    },
    {
        "id": "fbf062cb83e5db92",
        "type": "comment",
        "z": "62b1ce6f779d7d7a",
        "name": "executions not conformant to process and goal model",
        "info": "",
        "x": 240,
        "y": 520,
        "wires": []
    },
    {
        "id": "edd03fa26fca6104",
        "type": "comment",
        "z": "62b1ce6f779d7d7a",
        "name": "executions conformant to process and goal model",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "147e3012f462f17b",
        "type": "change",
        "z": "62b1ce6f779d7d7a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logFile",
                "pt": "msg",
                "to": "/data/ams-lhr/AMS_LHR.csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "egsmModel",
                "pt": "msg",
                "to": "/data/ams-lhr/egsm.xml",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "infoModel",
                "pt": "msg",
                "to": "/data/ams-lhr/infoModel.xsd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "goalModel",
                "pt": "msg",
                "to": "/data/ams-lhr/goalModel.xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "5785ad92b268b023"
            ]
        ]
    },
    {
        "id": "10ee14ee034bcceb",
        "type": "comment",
        "z": "62b1ce6f779d7d7a",
        "name": "executions conformant to process model but not to goal model",
        "info": "",
        "x": 270,
        "y": 400,
        "wires": []
    },
    {
        "id": "8cb09f1a4309d147",
        "type": "comment",
        "z": "62b1ce6f779d7d7a",
        "name": "executions conformant to goal model but not to process model",
        "info": "",
        "x": 270,
        "y": 600,
        "wires": []
    },
    {
        "id": "a43c53fb14a4566a",
        "type": "inject",
        "z": "3ba82686e8f4223e",
        "name": "201",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "201",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "537b3acd9dd53dd3"
            ]
        ]
    },
    {
        "id": "78afa22750a932ed",
        "type": "link call",
        "z": "3ba82686e8f4223e",
        "name": "",
        "links": [
            "dd82537cd3114775"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 940,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b62d2efcd981fc97",
        "type": "inject",
        "z": "3ba82686e8f4223e",
        "name": "202",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "202",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "537b3acd9dd53dd3"
            ]
        ]
    },
    {
        "id": "11cb38a6ce97ecff",
        "type": "inject",
        "z": "3ba82686e8f4223e",
        "name": "203",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "203",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "537b3acd9dd53dd3"
            ]
        ]
    },
    {
        "id": "5b1a1281bac0e276",
        "type": "inject",
        "z": "3ba82686e8f4223e",
        "name": "204",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "204",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "537b3acd9dd53dd3"
            ]
        ]
    },
    {
        "id": "6fe115a95399485c",
        "type": "inject",
        "z": "3ba82686e8f4223e",
        "name": "206",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "206",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "537b3acd9dd53dd3"
            ]
        ]
    },
    {
        "id": "bc83ff144585349f",
        "type": "inject",
        "z": "3ba82686e8f4223e",
        "name": "207",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "207",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "537b3acd9dd53dd3"
            ]
        ]
    },
    {
        "id": "c067beda04485028",
        "type": "inject",
        "z": "3ba82686e8f4223e",
        "name": "208",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "208",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "537b3acd9dd53dd3"
            ]
        ]
    },
    {
        "id": "0288d68222fa5aac",
        "type": "inject",
        "z": "3ba82686e8f4223e",
        "name": "205",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "205",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "537b3acd9dd53dd3"
            ]
        ]
    },
    {
        "id": "fc35411b60ed03ec",
        "type": "inject",
        "z": "3ba82686e8f4223e",
        "name": "209",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "209",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "537b3acd9dd53dd3"
            ]
        ]
    },
    {
        "id": "0c6d187a725dfdb0",
        "type": "comment",
        "z": "3ba82686e8f4223e",
        "name": "executions conformant to process and goal model",
        "info": "",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "537b3acd9dd53dd3",
        "type": "change",
        "z": "3ba82686e8f4223e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logFile",
                "pt": "msg",
                "to": "/data/ams-bru/AMS_BRU.csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "egsmModel",
                "pt": "msg",
                "to": "/data/ams-bru/egsm.xml",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "infoModel",
                "pt": "msg",
                "to": "/data/ams-bru/infoModel.xsd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "goalModel",
                "pt": "msg",
                "to": "/data/ams-bru/goalModel.xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 440,
        "wires": [
            [
                "78afa22750a932ed"
            ]
        ]
    },
    {
        "id": "492d45d6dbd03b9e",
        "type": "comment",
        "z": "3ba82686e8f4223e",
        "name": "executions conformant to process model but not to goal model",
        "info": "",
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "5e587942e2070da3",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "302",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "302",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "830203ca0acd7e34",
        "type": "link call",
        "z": "a36b0577fe8b3ab5",
        "name": "",
        "links": [
            "dd82537cd3114775"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 960,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b7efb3ab49a63097",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "301",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "301",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "8d5e4cb8ec3bb36e",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "303",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "303",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "69dbf226b96e35cc",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "304",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "304",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "a82382f6f610a0b8",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "306",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "306",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "1c0a82fce66a4a28",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "307",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "307",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "a5bd56c357cb56ab",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "308",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "308",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "90c444db752c6b65",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "305",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "305",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "67bb575f86954865",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "309",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "309",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "a5a44e83139edfd4",
        "type": "comment",
        "z": "a36b0577fe8b3ab5",
        "name": "executions conformant to process and goal model",
        "info": "",
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "845c6ace49406fee",
        "type": "change",
        "z": "a36b0577fe8b3ab5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logFile",
                "pt": "msg",
                "to": "/data/bru-ams/BRU_AMS.csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "egsmModel",
                "pt": "msg",
                "to": "/data/bru-ams/egsm.xml",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "infoModel",
                "pt": "msg",
                "to": "/data/bru-ams/infoModel.xsd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "goalModel",
                "pt": "msg",
                "to": "/data/bru-ams/goalModel.xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 420,
        "wires": [
            [
                "830203ca0acd7e34"
            ]
        ]
    },
    {
        "id": "9c4ac74ef268652a",
        "type": "comment",
        "z": "a36b0577fe8b3ab5",
        "name": "executions conformant to process model but not to goal model",
        "info": "",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "2ede205666d35871",
        "type": "comment",
        "z": "a36b0577fe8b3ab5",
        "name": "executions not conformant to process and goal model",
        "info": "",
        "x": 320,
        "y": 540,
        "wires": []
    },
    {
        "id": "dfe8f573225cdaed",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "310",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "310",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "6c1a7153fe9e0913",
        "type": "inject",
        "z": "a36b0577fe8b3ab5",
        "name": "311",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "311",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "845c6ace49406fee"
            ]
        ]
    },
    {
        "id": "1986fca3109d6b8d",
        "type": "inject",
        "z": "06f63ac08e56c5d1",
        "name": "401",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "401",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "037fe6047f4b182f"
            ]
        ]
    },
    {
        "id": "cd99a7d01bdafa08",
        "type": "link call",
        "z": "06f63ac08e56c5d1",
        "name": "",
        "links": [
            "dd82537cd3114775"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 920,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d6f03e3bcbaa9b36",
        "type": "inject",
        "z": "06f63ac08e56c5d1",
        "name": "402",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "402",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "037fe6047f4b182f"
            ]
        ]
    },
    {
        "id": "0b61605c7525c3a5",
        "type": "inject",
        "z": "06f63ac08e56c5d1",
        "name": "403",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "403",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "037fe6047f4b182f"
            ]
        ]
    },
    {
        "id": "62101e2b17c73f97",
        "type": "inject",
        "z": "06f63ac08e56c5d1",
        "name": "404",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "404",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "037fe6047f4b182f"
            ]
        ]
    },
    {
        "id": "817e6078ad36223e",
        "type": "inject",
        "z": "06f63ac08e56c5d1",
        "name": "406",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "406",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "037fe6047f4b182f"
            ]
        ]
    },
    {
        "id": "fb7d7be596fb1c9d",
        "type": "inject",
        "z": "06f63ac08e56c5d1",
        "name": "407",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "407",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "037fe6047f4b182f"
            ]
        ]
    },
    {
        "id": "40fd5abf63c52bde",
        "type": "inject",
        "z": "06f63ac08e56c5d1",
        "name": "408",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "408",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "037fe6047f4b182f"
            ]
        ]
    },
    {
        "id": "2df495b05c28842e",
        "type": "inject",
        "z": "06f63ac08e56c5d1",
        "name": "405",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "405",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "037fe6047f4b182f"
            ]
        ]
    },
    {
        "id": "6de44fd9eff571bf",
        "type": "comment",
        "z": "06f63ac08e56c5d1",
        "name": "executions conformant to process and goal model",
        "info": "",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "037fe6047f4b182f",
        "type": "change",
        "z": "06f63ac08e56c5d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logFile",
                "pt": "msg",
                "to": "/data/ams-cdg/AMS_CDG.csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "egsmModel",
                "pt": "msg",
                "to": "/data/ams-cdg/egsm.xml",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "infoModel",
                "pt": "msg",
                "to": "/data/ams-cdg/infoModel.xsd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "goalModel",
                "pt": "msg",
                "to": "/data/ams-cdg/goalModel.xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 400,
        "wires": [
            [
                "cd99a7d01bdafa08"
            ]
        ]
    },
    {
        "id": "8bb50ed212736089",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "502",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "502",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "1d3c2d2c46969e0c",
        "type": "link call",
        "z": "552cd1fc5058e3d5",
        "name": "",
        "links": [
            "dd82537cd3114775"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 960,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4ac9afd02d5f768d",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "501",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "501",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "db5d1fc8faf2217a",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "503",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "503",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "675f016868a0989c",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "504",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "504",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "73976cdb9b11be99",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "506",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "506",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "24629cdce9305647",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "507",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "507",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "8c8939c0fae59e2f",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "508",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "508",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "4967eff0c50628db",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "505",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "505",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "8d3ba97b7f76f8d3",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "509",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "509",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "7752fbb32572b46e",
        "type": "comment",
        "z": "552cd1fc5058e3d5",
        "name": "executions conformant to process and goal model",
        "info": "",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "39636a3c0dee8790",
        "type": "change",
        "z": "552cd1fc5058e3d5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logFile",
                "pt": "msg",
                "to": "/data/cdg-ams/CDG_AMS.csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "egsmModel",
                "pt": "msg",
                "to": "/data/cdg-ams/egsm.xml",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "infoModel",
                "pt": "msg",
                "to": "/data/cdg-ams/infoModel.xsd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "goalModel",
                "pt": "msg",
                "to": "/data/cdg-ams/goalModel.xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "1d3c2d2c46969e0c"
            ]
        ]
    },
    {
        "id": "b6719bd5be676343",
        "type": "comment",
        "z": "552cd1fc5058e3d5",
        "name": "executions conformant to goal model but not to process model",
        "info": "",
        "x": 350,
        "y": 440,
        "wires": []
    },
    {
        "id": "2612f23926f53e03",
        "type": "inject",
        "z": "552cd1fc5058e3d5",
        "name": "510",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "510",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "39636a3c0dee8790"
            ]
        ]
    },
    {
        "id": "0198106bd117f336",
        "type": "inject",
        "z": "099faee236c0d49e",
        "name": "601",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "601",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "178b315a13803327"
            ]
        ]
    },
    {
        "id": "6071ccd67072701e",
        "type": "link call",
        "z": "099faee236c0d49e",
        "name": "",
        "links": [
            "dd82537cd3114775"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 860,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8e507bad968fae4f",
        "type": "inject",
        "z": "099faee236c0d49e",
        "name": "602",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "602",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "178b315a13803327"
            ]
        ]
    },
    {
        "id": "a5b44c5875e1b3a2",
        "type": "inject",
        "z": "099faee236c0d49e",
        "name": "603",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "603",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "178b315a13803327"
            ]
        ]
    },
    {
        "id": "54e89057903a31f1",
        "type": "inject",
        "z": "099faee236c0d49e",
        "name": "604",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "604",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "178b315a13803327"
            ]
        ]
    },
    {
        "id": "1e5b764f84a8ea30",
        "type": "comment",
        "z": "099faee236c0d49e",
        "name": "executions conformant to process and goal model",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "178b315a13803327",
        "type": "change",
        "z": "099faee236c0d49e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logFile",
                "pt": "msg",
                "to": "/data/ams-fra/AMS_FRA.csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "egsmModel",
                "pt": "msg",
                "to": "/data/ams-fra/egsm.xml",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "infoModel",
                "pt": "msg",
                "to": "/data/ams-fra/infoModel.xsd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "goalModel",
                "pt": "msg",
                "to": "/data/ams-fra/goalModel.xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "6071ccd67072701e"
            ]
        ]
    },
    {
        "id": "609cba8976e09afc",
        "type": "comment",
        "z": "099faee236c0d49e",
        "name": "executions conformant to goal model but not to process model",
        "info": "",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "3f665cd6ed7d1681",
        "type": "inject",
        "z": "acb8a03ca539f5b7",
        "name": "702",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "702",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "85846ba58dcccf63"
            ]
        ]
    },
    {
        "id": "d4af3710aed9729a",
        "type": "link call",
        "z": "acb8a03ca539f5b7",
        "name": "",
        "links": [
            "dd82537cd3114775"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 980,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8e29074ee65e0d87",
        "type": "inject",
        "z": "acb8a03ca539f5b7",
        "name": "701",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "701",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "85846ba58dcccf63"
            ]
        ]
    },
    {
        "id": "032709113b57badc",
        "type": "inject",
        "z": "acb8a03ca539f5b7",
        "name": "703",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "703",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "85846ba58dcccf63"
            ]
        ]
    },
    {
        "id": "0f4b4ed064752e38",
        "type": "inject",
        "z": "acb8a03ca539f5b7",
        "name": "704",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "704",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "85846ba58dcccf63"
            ]
        ]
    },
    {
        "id": "10973b0ba8399e65",
        "type": "inject",
        "z": "acb8a03ca539f5b7",
        "name": "706",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "706",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "85846ba58dcccf63"
            ]
        ]
    },
    {
        "id": "360580b08f2d4bcc",
        "type": "inject",
        "z": "acb8a03ca539f5b7",
        "name": "707",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "707",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "85846ba58dcccf63"
            ]
        ]
    },
    {
        "id": "afe5495c0c1d9807",
        "type": "inject",
        "z": "acb8a03ca539f5b7",
        "name": "708",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "708",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "85846ba58dcccf63"
            ]
        ]
    },
    {
        "id": "a00e13afdbbf3781",
        "type": "inject",
        "z": "acb8a03ca539f5b7",
        "name": "705",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pathid",
                "v": "705",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "85846ba58dcccf63"
            ]
        ]
    },
    {
        "id": "131e0d5536d39cf0",
        "type": "comment",
        "z": "acb8a03ca539f5b7",
        "name": "executions conformant to process and goal model",
        "info": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "85846ba58dcccf63",
        "type": "change",
        "z": "acb8a03ca539f5b7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logFile",
                "pt": "msg",
                "to": "/data/fra-ams/FRA_AMS.csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "egsmModel",
                "pt": "msg",
                "to": "/data/fra-ams/egsm.xml",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "infoModel",
                "pt": "msg",
                "to": "/data/fra-ams/infoModel.xsd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "goalModel",
                "pt": "msg",
                "to": "/data/fra-ams/goalModel.xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 440,
        "wires": [
            [
                "d4af3710aed9729a"
            ]
        ]
    },
    {
        "id": "f43ed36544a12e5c",
        "type": "comment",
        "z": "acb8a03ca539f5b7",
        "name": "executions conformant to goal model but not to process model",
        "info": "",
        "x": 370,
        "y": 400,
        "wires": []
    },
    {
        "id": "ad2d5852.ca2d68",
        "type": "csv",
        "z": "92763204f8f39f07",
        "name": "Parse log",
        "sep": ";",
        "hdrin": false,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "pathid, speed, date, trucknumber, timestamp, dest, source, position, country",
        "skip": 0,
        "strings": true,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "648136387fe15471"
            ]
        ]
    },
    {
        "id": "41e996e6.e85578",
        "type": "switch",
        "z": "92763204f8f39f07",
        "name": "Discretize movement",
        "property": "payload.speed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "40",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1074.680908203125,
        "y": 89.87622833251953,
        "wires": [
            [
                "fa7b4758.43cd8"
            ],
            [
                "f85764ec.09fd38"
            ]
        ]
    },
    {
        "id": "4d08a428.8282d4",
        "type": "switch",
        "z": "92763204f8f39f07",
        "name": "Determine country",
        "property": "payload.country",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GB",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 989.680908203125,
        "y": 418.8762435913086,
        "wires": [
            [
                "819a7acc.6a207"
            ],
            [
                "1f1639b9.07207e"
            ]
        ]
    },
    {
        "id": "819a7acc.6a207",
        "type": "switch",
        "z": "92763204f8f39f07",
        "name": "Discretize position UK",
        "property": "payload.position",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Peene",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Newington",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cheriton",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Folkestone",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Feltham",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Slough",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Hounslow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Stanwell",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "London Heathrow Airport",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "1cb3948c.b10b3b"
            ],
            [
                "1cb3948c.b10b3b"
            ],
            [
                "1cb3948c.b10b3b"
            ],
            [
                "1cb3948c.b10b3b"
            ],
            [
                "4eeb1fb0.59d8"
            ],
            [
                "4eeb1fb0.59d8"
            ],
            [
                "4eeb1fb0.59d8"
            ],
            [
                "4eeb1fb0.59d8"
            ],
            [
                "4eeb1fb0.59d8"
            ],
            [
                "c482e155.115858"
            ]
        ]
    },
    {
        "id": "1f1639b9.07207e",
        "type": "switch",
        "z": "92763204f8f39f07",
        "name": "Discretize Position EU",
        "property": "payload.position",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Coquelles",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Luchthaven Schiphol",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Machelen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Tremblay-en-France",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Frankfort aan de Main",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1130.680908203125,
        "y": 512.8762435913086,
        "wires": [
            [
                "1f51b49.b42c5cb"
            ],
            [
                "a10d389a.d32b48"
            ],
            [
                "0138abede6c9bb85"
            ],
            [
                "bdf9f34e35a194f4"
            ],
            [
                "50e19f7d84d038e7"
            ],
            [
                "b5b42461.327af"
            ]
        ]
    },
    {
        "id": "fa7b4758.43cd8",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Moving",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Moving",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1216.680908203125,
        "y": 25.47620391845703,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "f85764ec.09fd38",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Still",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Still",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1214.680908203125,
        "y": 159.47620391845703,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "4eeb1fb0.59d8",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Lhr",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Lhr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 280,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "c482e155.115858",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "HwGB",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "HwGB",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 360,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "1cb3948c.b10b3b",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Chr",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Chr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 240,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "1f51b49.b42c5cb",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Coq",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Coq",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1308.680908203125,
        "y": 423.4762191772461,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "a10d389a.d32b48",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Ams",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ams",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 480,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "b5b42461.327af",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Hw",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hw",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 640,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "44a6394c.f6aa3",
        "type": "function",
        "z": "92763204f8f39f07",
        "name": "Set topic location",
        "func": "msg.topic = 'location';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 833.8237915039062,
        "y": 514.9047470092773,
        "wires": [
            [
                "4d08a428.8282d4"
            ]
        ]
    },
    {
        "id": "bf11563c.ace6a8",
        "type": "function",
        "z": "92763204f8f39f07",
        "name": "Set topic speed",
        "func": "msg.topic = 'speed';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 861.5380859375,
        "y": 248.67620086669922,
        "wires": [
            [
                "41e996e6.e85578"
            ]
        ]
    },
    {
        "id": "d4f49e16.a405b",
        "type": "join",
        "z": "92763204f8f39f07",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "",
        "count": "2",
        "x": 1497.680892944336,
        "y": 286.47620391845703,
        "wires": [
            [
                "41c9a4cd.f08de4"
            ]
        ]
    },
    {
        "id": "e94a7f07.89c508",
        "type": "debug",
        "z": "92763204f8f39f07",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 2030,
        "y": 500,
        "wires": []
    },
    {
        "id": "2b747e79.0e5c32",
        "type": "delay",
        "z": "92763204f8f39f07",
        "name": "",
        "pauseType": "rate",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "10",
        "nbRateUnits": "",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730.0619812011719,
        "y": 369.43807220458984,
        "wires": [
            [
                "bf11563c.ace6a8",
                "44a6394c.f6aa3"
            ]
        ]
    },
    {
        "id": "c2910042.6ab208",
        "type": "template",
        "z": "92763204f8f39f07",
        "name": "Define Artifact State",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.location}}{{payload.speed}}",
        "x": 1719.6808471679688,
        "y": 341.0761947631836,
        "wires": [
            [
                "8e31f3d4ae32c63e"
            ]
        ]
    },
    {
        "id": "33f24608.d4b3aa",
        "type": "function",
        "z": "92763204f8f39f07",
        "name": "Set metadata",
        "func": "msg.trucknumber = msg.payload.trucknumber;\nmsg.timestamp = msg.payload.timestamp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 647.4905395507812,
        "y": 204.57140350341797,
        "wires": [
            [
                "2b747e79.0e5c32"
            ]
        ]
    },
    {
        "id": "41c9a4cd.f08de4",
        "type": "rbe",
        "z": "92763204f8f39f07",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 1625.6334075927734,
        "y": 491.4285659790039,
        "wires": [
            [
                "c2910042.6ab208",
                "cd8c61d4dfea6692"
            ]
        ]
    },
    {
        "id": "8e31f3d4ae32c63e",
        "type": "function",
        "z": "92763204f8f39f07",
        "name": "Build REST call for data",
        "func": "msg.payload = { name: 'Truck', value: msg.payload, timestamp: msg.timestamp } ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 440,
        "wires": [
            [
                "1130f1d3d4d0a836",
                "e94a7f07.89c508"
            ]
        ]
    },
    {
        "id": "1130f1d3d4d0a836",
        "type": "http request",
        "z": "92763204f8f39f07",
        "name": "Update info model",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://paso:8083/api/updateInfoModel",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2070,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "36ceea13f5f651e0",
        "type": "link call",
        "z": "92763204f8f39f07",
        "name": "",
        "links": [
            "e4e5d9e7b4ce9079"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 630,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "dd82537cd3114775",
        "type": "link in",
        "z": "92763204f8f39f07",
        "name": "LogData",
        "links": [],
        "x": 235,
        "y": 160,
        "wires": [
            [
                "36ceea13f5f651e0",
                "6534f2326d9992a1"
            ]
        ]
    },
    {
        "id": "bfb8aedd1fd26d45",
        "type": "delay",
        "z": "92763204f8f39f07",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "ad2d5852.ca2d68"
            ]
        ]
    },
    {
        "id": "648136387fe15471",
        "type": "switch",
        "z": "92763204f8f39f07",
        "name": "",
        "property": "payload.pathid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pathid",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 120,
        "wires": [
            [
                "33f24608.d4b3aa"
            ]
        ]
    },
    {
        "id": "6534f2326d9992a1",
        "type": "file in",
        "z": "92763204f8f39f07",
        "name": "loadLogFile",
        "filename": "logFile",
        "filenameType": "msg",
        "format": "utf8",
        "allProps": false,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "bfb8aedd1fd26d45"
            ]
        ]
    },
    {
        "id": "cd8c61d4dfea6692",
        "type": "debug",
        "z": "92763204f8f39f07",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 220,
        "wires": []
    },
    {
        "id": "0138abede6c9bb85",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Bru",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bru",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 520,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "bdf9f34e35a194f4",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Cdg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Cdg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 560,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "50e19f7d84d038e7",
        "type": "change",
        "z": "92763204f8f39f07",
        "name": "Fra",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Fra",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 600,
        "wires": [
            [
                "d4f49e16.a405b"
            ]
        ]
    },
    {
        "id": "f7e0ecf89cff2159",
        "type": "http request",
        "z": "d2f1e88c6eb8c50a",
        "name": "Reset engine",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://paso:8083/api/reset",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "eab33af36882cfb1",
                "ef5c6ade6fae23fe"
            ]
        ]
    },
    {
        "id": "6ce5a212d970d0a7",
        "type": "function",
        "z": "d2f1e88c6eb8c50a",
        "name": "Build REST call for event",
        "func": "msg.payload = { name: 'process_started', value: ''};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "3442e982c3938147"
            ]
        ]
    },
    {
        "id": "3442e982c3938147",
        "type": "http request",
        "z": "d2f1e88c6eb8c50a",
        "name": "Update info model",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://paso:8083/api/updateInfoModel",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e4e5d9e7b4ce9079",
        "type": "link in",
        "z": "d2f1e88c6eb8c50a",
        "name": "InitModel",
        "links": [],
        "x": 175,
        "y": 180,
        "wires": [
            [
                "f7e0ecf89cff2159",
                "df8d0c5f40829c30"
            ]
        ]
    },
    {
        "id": "df8d0c5f40829c30",
        "type": "http request",
        "z": "d2f1e88c6eb8c50a",
        "name": "Reset goal model",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://istar-monitor:8082/api/reset",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "882f5d4382d6647a"
            ]
        ]
    },
    {
        "id": "eab33af36882cfb1",
        "type": "file in",
        "z": "d2f1e88c6eb8c50a",
        "name": "egsm",
        "filename": "egsmModel",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "7830e04692e7790a"
            ]
        ]
    },
    {
        "id": "ef5c6ade6fae23fe",
        "type": "file in",
        "z": "d2f1e88c6eb8c50a",
        "name": "infoModel",
        "filename": "infoModel",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "ae2bd51fe8dbce5c"
            ]
        ]
    },
    {
        "id": "507f08847b39bec8",
        "type": "http request",
        "z": "d2f1e88c6eb8c50a",
        "name": "submit",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://paso:8083/api/uploadModel",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "multipart/form-data",
                "valueValue": ""
            }
        ],
        "x": 1290,
        "y": 220,
        "wires": [
            [
                "6ce5a212d970d0a7"
            ]
        ]
    },
    {
        "id": "cf177a3689d96c09",
        "type": "function",
        "z": "d2f1e88c6eb8c50a",
        "name": "",
        "func": "msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    \"egsm\": {\n        \"value\": databuffer.egsm,\n        \"options\": {\n            \"filename\": \"myfile.xml\"\n        }\n    },\n    \"infoModel\": {\n        \"value\": databuffer.infoModel,\n        \"options\": {\n            \"filename\": \"myfile.xsd\"\n        }\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 220,
        "wires": [
            [
                "507f08847b39bec8"
            ]
        ]
    },
    {
        "id": "7830e04692e7790a",
        "type": "change",
        "z": "d2f1e88c6eb8c50a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "egsm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 160,
        "wires": [
            [
                "debbf8c7c9875696"
            ]
        ]
    },
    {
        "id": "ae2bd51fe8dbce5c",
        "type": "change",
        "z": "d2f1e88c6eb8c50a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infoModel",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "debbf8c7c9875696"
            ]
        ]
    },
    {
        "id": "debbf8c7c9875696",
        "type": "join",
        "z": "d2f1e88c6eb8c50a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 990,
        "y": 220,
        "wires": [
            [
                "cf177a3689d96c09"
            ]
        ]
    },
    {
        "id": "882f5d4382d6647a",
        "type": "file in",
        "z": "d2f1e88c6eb8c50a",
        "name": "goalModel",
        "filename": "goalModel",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "307685b8cf1916ad"
            ]
        ]
    },
    {
        "id": "307685b8cf1916ad",
        "type": "http request",
        "z": "d2f1e88c6eb8c50a",
        "name": "submit",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://istar-monitor:8082/api/loadModel",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/xml",
                "valueValue": ""
            }
        ],
        "x": 790,
        "y": 360,
        "wires": [
            []
        ]
    }
]